{
  "extends": "react-app",
  "rules": {
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "constructor-super": ["error"],
    "no-class-assign": ["error"],
    "no-const-assign": ["error"],
    "no-dupe-class-members": ["error"],
    "no-this-before-super": ["error"],
    "no-var": ["error"],
    "prefer-const": ["error"],
    "rest-spread-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error"],
    "comma-spacing": ["error"],
    "func-call-spacing": ["error"],
    "key-spacing": ["error"],
    "keyword-spacing": ["error"],
    "no-mixed-spaces-and-tabs": ["error"],
    "no-whitespace-before-property": ["error"],
    "object-curly-spacing": ["error", "always"],
    "prefer-object-spread": ["error"],
    "semi-spacing": ["error"],
    "space-before-blocks": ["error"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": ["error", "never"],
    "unicode-bom": ["error", "never"],
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "no-multi-spaces": ["error"],
    "no-cond-assign": ["error"],
    "no-dupe-keys": ["error"],    "quotes": ["error", "double", { "avoidEscape": true }],
    "jsx-quotes": ["error", "prefer-double"],
    "no-async-promise-executor": ["error"],
    "no-duplicate-case": ["error"],
    "no-empty": ["error"],
    "no-ex-assign": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-extra-semi": ["error"],
    "no-func-assign": ["error"],
    "no-obj-calls": ["error"],
    "no-sparse-arrays": ["error"],
    "no-unreachable": ["error"],
    "valid-typeof": ["error"],
    "block-scoped-var": ["error"],
    "no-shadow-restricted-names": ["error"],
    "no-undef": ["error"],
    "semi": ["error", "always"]
  }
}