.root {
 
}

.root table {
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    overflow-x: auto;   
}

.root thead th { position: sticky; top: -1px; z-index: 1; background-color: #fff;}
.root tbody th { position: sticky; left: 0; }

.root td {
    border: 1px solid #ddd;
    padding: 8px 8px;
    text-align: left;
}

.root th {
    border: 1px solid #ddd;
    padding: 8px 8px;
    text-align: left;
}

.root tr:nth-child(even) {
    background-color: #f2f2f2;
}

.root tr:hover {
    background-color: #ddd;
}


.cellCommands {
    width: 400px;
}

.cellsize {
    width: 30px;
}

.statTable {
    overflow: auto;
    max-height: 700px;
    width: 100%; 
}


